<th-auth-layout>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off"
    class="flex flex-col gap-4 justify-center items-center mx-auto w-1/2">
    <span class="text-center text-4xl text-blue-500 font-bold">Sign In</span>
    <span class="text-center text-base text-gray-400">
      <a routerLink="/register">Need an account?</a>
    </span>
    <fieldset class="w-full flex flex-col gap-2">
      <input autocomplete="new-email" autofocus class="w-full" formControlName="email" placeholder="email" required
        type="text" />
      <span *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['required']" class="text-red-400">
        Required
      </span>
    </fieldset>
    <fieldset class="w-full flex flex-col gap-2">
      <input autocomplete="new-password" class="w-full" formControlName="password" placeholder="password" required
        type="password" />
      <span *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['required']"
        class="text-red-400">
        Required
      </span>
    </fieldset>
    <button *ngIf="vm$ | async as vm" [disabled]="form.invalid" class="self-end" primary type="submit">
      <ng-container *ngIf="vm.status !== 'loading'; else loading">
        Sign In
      </ng-container>
      <ng-template #loading>
        Please wait <th-loading></th-loading>
      </ng-template>
    </button>
  </form>

</th-auth-layout>