@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Light.ttf")
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf")
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-SemiBold.ttf")
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf")
}