// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "./styles/index";

@include mat.core();
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-standalone-components-primary: mat.define-palette(mat.$indigo-palette);
$ng-standalone-components-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-standalone-components-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-standalone-components-theme: mat.define-light-theme((color: (primary: $ng-standalone-components-primary,
        accent: $ng-standalone-components-accent,
        warn: $ng-standalone-components-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-standalone-components-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full w-full absolute overflow-auto box-border font-source-sans-pro;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
  @apply text-blue-500 font-bold;

}

input,
textarea {
  @apply px-5 py-4 rounded border border-gray-400 focus:outline-blue-400;
}

button,
input,
select,
textarea {
  &:disabled {
    @apply disabled:cursor-not-allowed opacity-50;
  }
}

button {
  &.secondary-outlined {
    @apply border border-gray-400 text-gray-400 bg-transparent;

    &:hover:not(.disabled, .active) {
      @apply bg-gray-400 text-white;
    }
  }
  &.danger-outlined {
    @apply border border-red-400 text-red-400 bg-transparent;

    &:hover:not(.disabled, .active) {
      @apply bg-red-400 text-white;
    }
  }
}

a {
  @apply cursor-pointer;

  &:hover:not(.disabled, .active) {
    @apply text-black;
  }
}

*:disabled,
*.disabled {
  @apply cursor-not-allowed select-none;
}

*[ng-reflect-router-link]:not(:disabled) {
  @apply cursor-pointer;
}

p {
  @apply text-base;
}
input {
  &:is(.ng-touched.ng-invalid) {
    border: 1px solid red !important;

    &::placeholder {
      color: red !important;
      font-weight: lighter;
    }
  }
}

// button type
.th-btn {
  @apply px-6 py-4 border duration-200 font-titillium;
  &-rounded {
    @apply rounded;
  }
  &-outlined {
    @apply bg-transparent;
  }
  &:not([disabled]):hover {
    @apply opacity-90;
  }
  &-success {
    @apply border-green-600;
    &.th-btn-fill {
      @apply bg-green-600 text-white;
    }
    &.th-btn-outlined {
      @apply text-green-600;
      &:hover:not([disabled]) {
        @apply bg-green-600 text-white;
      }
    }
  }
  &-primary {
    @apply border-blue-600;
    &.th-btn-fill {
      @apply bg-blue-600 text-white;
    }
    &.th-btn-outlined {
      @apply text-blue-600;
      &:hover:not([disabled]) {
        @apply bg-blue-600 text-white;
      }
    }
  }
  &-secondary {
    @apply border-gray-400;
    &.th-btn-fill {
      @apply bg-gray-400 text-white;
    }
    &.th-btn-outlined {
      @apply text-gray-400;
      &:hover:not([disabled]) {
        @apply bg-gray-400 text-white;
      }
    }
  }
  &-danger {
    @apply border-red-400;
    &.th-btn-fill {
      @apply bg-red-400 text-white;
    }
    &.th-btn-outlined {
      @apply text-red-400;
      &:hover:not([disabled]) {
        @apply bg-red-400 text-white;
      }
    }
  }
  &-hard-danger {
    @apply border-pink-600;
    &.th-btn-fill {
      @apply bg-pink-600 text-white;
    }
    &.th-btn-outlined {
      @apply text-pink-600;
      &:hover:not([disabled]) {
        @apply bg-pink-600 text-white;
      }
    }
  }
}
