// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "./styles/index";
@import "@angular/cdk/overlay-prebuilt.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply h-full w-full absolute overflow-auto box-border font-source-sans-pro bg-zinc-50;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
  @apply text-blue-500 font-bold;

}

input,
textarea {
  @apply px-5 py-4 rounded border border-gray-400 focus:outline-blue-400;
}

button,
input,
select,
textarea {
  &:disabled {
    @apply disabled:cursor-not-allowed opacity-50;
  }
}

button {
  &.secondary-outlined {
    @apply border border-gray-400 text-gray-400 bg-transparent;

    &:hover:not(.disabled, .active) {
      @apply bg-gray-400 text-white;
    }
  }
  &.danger-outlined {
    @apply border border-red-400 text-red-400 bg-transparent;

    &:hover:not(.disabled, .active) {
      @apply bg-red-400 text-white;
    }
  }
}

a {
  @apply cursor-pointer;

  &:hover:not(.disabled, .active) {
    @apply text-black;
  }
}

*:disabled,
*.disabled {
  @apply cursor-not-allowed select-none;
}

*[ng-reflect-router-link]:not(:disabled) {
  @apply cursor-pointer;
}

p {
  @apply text-base;
}
input {
  &:is(.ng-touched.ng-invalid) {
    border: 1px solid red !important;

    &::placeholder {
      color: red !important;
      font-weight: lighter;
    }
  }
}

// button type
.th-btn {
  @apply px-6 py-4 border duration-200 font-titillium;
  &-rounded {
    @apply rounded;
  }
  &-outlined {
    @apply bg-transparent;
  }
  &:not([disabled]):hover {
    @apply opacity-90;
  }
  &-success {
    @apply border-green-600;
    &.th-btn-fill {
      @apply bg-green-600 text-white;
    }
    &.th-btn-outlined {
      @apply text-green-600;
      &:hover:not([disabled]) {
        @apply bg-green-600 text-white;
      }
    }
  }
  &-primary {
    @apply border-blue-600;
    &.th-btn-fill {
      @apply bg-blue-600 text-white;
    }
    &.th-btn-outlined {
      @apply text-blue-600;
      &:hover:not([disabled]) {
        @apply bg-blue-600 text-white;
      }
    }
  }
  &-secondary {
    @apply border-gray-400;
    &.th-btn-fill {
      @apply bg-gray-400 text-white;
    }
    &.th-btn-outlined {
      @apply text-gray-400;
      &:hover:not([disabled]) {
        @apply bg-gray-400 text-white;
      }
    }
  }
  &-danger {
    @apply border-red-400;
    &.th-btn-fill {
      @apply bg-red-400 text-white;
    }
    &.th-btn-outlined {
      @apply text-red-400;
      &:hover:not([disabled]) {
        @apply bg-red-400 text-white;
      }
    }
  }
  &-hard-danger {
    @apply border-pink-600;
    &.th-btn-fill {
      @apply bg-pink-600 text-white;
    }
    &.th-btn-outlined {
      @apply text-pink-600;
      &:hover:not([disabled]) {
        @apply bg-pink-600 text-white;
      }
    }
  }
}
