<th-banner></th-banner>
<div class="container mx-auto mt-4">
  <div *ngIf="vm$ | async as vm" class="flex flex-row gap-8">
    <div class="flex-1">
      <div class="flex flex-col">
        <th-feed-toggle [isFeedDisabled]="!vm.isAuthenticated" [feedType]="vm.feedType"></th-feed-toggle>
        <th-article-list [status]="vm.articlesStatus" [articles]="vm.articles"></th-article-list>
      </div>
    </div>
    <th-tags [status]="vm.tagStatus" [tags]="vm.tags" class="w-[300px]">
      <span>loading...</span>
    </th-tags>
  </div>
</div>